##---------------------------------------------------
## Remove all files not required for code to run
## We have git for backups of IP!
##---------------------------------------------------

.idea/
.vscode/
# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Python files
*.pyc
__pycache__/

# JMAG/FEMM files
*.jproj
*.xml
LegacyCode/run_data/

# Sphinx documentation
docs/build/
docs/source/_templates/

# JMAG simulation files
run_data/

# archive files
*.pkl
